.cardGlobal {
  /* Add shadows to create the "card" effect */
  /* border: 1px solid black; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px;
}
.imageContainerEditPage {
  width: "60%";
  height: "150px";
  object-fit: contain;
}
@media (max-width: 768px) {
  .cardGlobal {
    margin-left: 10px;
  }
  .imageContainerEditPage {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
}
/* On mouse-over, add a deeper shadow */
.cardGlobal:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.text__backgorund {
  margin: 5px;
  width: fit-content;
  align-items: center;
  height: 20px;
  background-color: rgb(200, 232, 243);
}
.separator {
  margin-top: 30px;
  border-bottom: 1px solid rgb(167, 164, 164);
}
