.Card {
  margin-bottom: 30px;
  border-radius: 0px;
  border: 1px solid lightgray;
  /* box-shadow: 0 0 2px 2px yellow; */
  background-color: rgb(241, 236, 236);
  /* box-shadow: 0 4px 8px 0 rgba(119, 240, 39, 0.2),
    0 6px 20px 0 rgba(86, 221, 23, 0.19); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.CardSmaller {
  width: 100%;
  height: fit-content;
  left: 0;
  right: 0;
  top: 0;
}
.Card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.property_Card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
  margin-top: 10px;
  height: 400px;
}
.imageContainer {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.card_ContainerBig {
  width: 65%;
  height: fit-content;
  margin: 0;
}
@media (max-width: 768px) {
  .black__title {
    padding: 0;
  }
  .Card {
    display: none;
  }
  .card_ContainerBig {
    display: none;
  }
}
@media (min-width: 769px) {
  .CardSmaller {
    display: none;
  }
  .card_ContainerSmaller {
    display: none;
  }
}
.Column {
  display: flex;
  flex-direction: column;
}
.Row {
  display: flex;
  flex-direction: row;
}
.green__title {
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  /* padding: 5px; */
  color: #b40b8a;
  letter-spacing: 0.05rem;
}
.light__title {
  font-size: 13px;
  font-weight: 600;
  margin-top: -25px;
  margin-left: 12px;
  color: #918d8f;
  letter-spacing: 0.05rem;
}
.black__title {
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  color: #504f4f;
  letter-spacing: 0.05rem;
}
.text__backgorund {
  margin: 5px;
  width: fit-content;
  align-items: center;
  height: 20px;
  background-color: rgb(200, 232, 243);
}
.title__box {
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 60px;
  background-color: rgb(253, 250, 250);
  /* border: 1px solid black; */
}
.body__box {
  margin: 10px;
  height: 200px;
  border: 1px solid rgb(119, 117, 117);
  background-color: white;
}
.footer__box {
  margin: 0px;
  margin-bottom: 1px;
  height: 30px;
  /* border: 1px solid black; */
  background-color: rgb(253, 250, 250);
}
.flex__flow {
  display: flex;
  flex-flow: column wrap;
  height: 120px;
  padding: 5px;
  margin-left: 50px;
}
.flex__flowSmaller {
  display: flex;
}
.color__Button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #51bd09;
  border-radius: 4px;
  width: 100%;
  height: 30px;
  border: 1px solid #50c204;
  border-color: #4bd80a #4bd80a #4bd80a;
}
