.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  margin-top: 30px;
}
.footer__containerOne {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(185, 241, 241);
  height: 500px;
}
.footer-second-section {
  background-color: rgb(56, 54, 54);
}
.footer-second-section ul li {
  list-style: none;
  text-align: justify;
  color: rgb(127, 127, 127);
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}
.footer__containerImage {
  display: flex;
  justify-content: center;
  object-fit: contain;
  height: 400px;
  width: 60%;
  z-index: 1;
  margin-top: 50px;
}
.footer__containerTwo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 400px;
  width: 100%;
  background-color: rgb(100, 102, 102);
}
.footer__containerThree {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 300px;
  background-color: rgb(28, 29, 29);
}
.row_column {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .row_column {
    display: flex;
    flex-direction: column;
  }
  .footer-second-section ul li {
    text-align: left;
    line-height: 24px;
    font-weight: 400;
    font-size: auto;
  }
  .footer__containerThree {
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
}
.footer__containerFour {
  display: flex;
  justify-content: center;
  font-size: 13px;
  color: rgb(78, 80, 80);
  height: 50px;
  background-color: black;
}
.footer__titleOne {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 70%;
  margin-top: 20px;
  /* margin-left: 30px; */
}
.footer__titleOneOption {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 25%;
  margin-top: 20px;
  /* margin-left: 30px; */
}
.footer__titleTwo {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 30%;
  margin-top: 30px;
}
.footer__titleTwoOption {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-top: 30px;
}
.footer__titleOneHeader {
  display: flex;
  flex-direction: row;
}
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
.header_name {
  font-family: "Redressed", cursive;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.1rem;
  color: white;
}
.header__logoItem {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.1rem;
  color: white;
}
.header__logoItemPart {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.05rem;
  color: #9c9c9c;
}
.header__logoItemPartlighter {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.05rem;
  color: #eeeaea;
}
